.mapboxgl-popup-content {
    background: transparent !important;
    box-shadow: none;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0.4vw 1.6vh;
    border-radius: 0.469rem;
}

.mapboxgl-popup-tip {
    border: none !important;
}

.custom-final-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: #E4FCFF;
    backdrop-filter: blur(2px);
    color: black;
    font-weight: 700;
}